@charset "UTF-8";

* {
    font-size: 40px;
    color: #101050;
    background: #F3F3FF;
    border-radius: 15px;
}

.border {
    padding: 5%;
}

.buttonLabel {
    background-color: #C0E0FF;
    margin-right: 20px;
}

.hidden {
    display: none;
}

input {
    width: 100%;
    height: 50px;
    background: #C0E0FF;
    border-radius: 15px;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

tr,
th,
td {
    border: 3px solid #101050;
    padding: 5px;
}

.firstRow {
    background-color: #C0E0FF;
    border: 5px solid #101050;
}

progress {
    width: 100%;
    height: 40px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    background-color: #103090;
}

progress::-webkit-progress-bar {
    background-color: #C0E0FF;
}