@charset "UTF-8";

* {
    font-size: 20px;
    color: #101050;
    background: #F3F3FF;
    border-radius: 15px;
}

.container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.left {
    display: flex;
    width: 70%;
    gap: 20px;
}

.right {
    display: flex;
    width: 30%;
    gap: 20px;
}

.buttonLabel {
    background-color: #C0E0FF;
    margin-right: 20px;
}

.buttonLabel:hover {
    background-color: #64b2ff;
}

.hidden {
    display: none;
}

input {
    width: 100%;
    height: 50px;
    background: #C0E0FF;
    border-radius: 15px;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-x: auto;
}

tr,
th,
td {
    border: 3px solid #101050;
    padding: 5px;
}

td {
    white-space: normal;
}

.firstRow {
    background-color: #C0E0FF;
    border: 5px solid #101050;
}

progress {
    width: 100%;
    height: 20px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    background-color: #103090;
}

progress::-webkit-progress-bar {
    background-color: #C0E0FF;
}