@charset "UTF-8";
* {
    font-size: 40px;
    color: #101050;
    background: #F3F3FF;
    border-radius: 15px;
}

.border {
    padding: 5%;
}

.buttonLabel {
    background-color: #C0E0FF;
}

.hidden {
    display: none;
}

input {
    width: 100%;
    height: 40px;
    font-size: 40px;
    background: #C0E0FF;
    border-radius: 15px;
}

progress {
    width: 100%;
    height: 40px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    background-color: #103090;
}

progress::-webkit-progress-bar {
    background-color: #C0E0FF;
}